<!DOCTYPE html>
<html>
<head>
  <title>DataPlaygroundApp</title>
  <link href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css" rel="stylesheet">

  <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.5.0/angular.js"></script>

  <script src="//cdnjs.cloudflare.com/ajax/libs/angular-ui-router/0.2.10/angular-ui-router.js"></script>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
</head>
<body ng-app='app' > <!-- class='app' -->

<div >
      <%= link_to 'FB', facebook_login_path, class:'social_login_link', id: "fb_sprite" %>
      <%= link_to 'GOOGLE', google_login_path, class: 'social_login_link', id: "google_sprite" %>
      <%= link_to 'TWEET TWEET', twitter_login_path, class: 'social_login_link', id: "twitter_sprite" %>
      <%= link_to 'LINKER', linkedin_path, class: 'social_login_link', id: "linkedin_sprite"%>
      <br>
  <% if current_user %>
    logged in as : <%= current_user.name %>
  <% end %>
  <div ng-controller='MainCtrl as ctrl'>
    <div ui-view />
  </div>
</div>

</body>
</html>
