<!DOCTYPE html>
<html>
<head>
  <title>DataPlaygroundApp</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <script src="//cdnjs.cloudflare.com/ajax/libs/annyang/2.4.0/annyang.min.js"></script>
  <script src="//cdnjs.cloudflare.com/ajax/libs/SpeechKITT/0.3.0/speechkitt.min.js"></script>

  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
</head>
<body ng-app='app' class="no-margin"> <!-- class='app' -->
  <div ng-controller='MainCtrl as ctrl'>

    <div id='nav-bar' ng-init="loggedIn = !!current_user">
      <div id="login-info">
        <a href='' ui-sref='home'> Home </a> <br>
        <% if current_user %>
          Logged-in as : <%= current_user.name %>
          <%= image_tag current_user.profile_pic_url, size: "20x20", alt: current_user.name + "'s profile picture'" %>
           - <%= link_to 'Log-out', log_out_path %>
        <% else %>
          <div >
            Sign-in with:
            <%= link_to 'FB', facebook_login_path, class:'social_login_link', id: "fb_sprite" %>
            <%= link_to 'GOOGLE', google_login_path, class: 'social_login_link', id: "google_sprite" %>
            <%= link_to 'TWITTER', twitter_login_path, class: 'social_login_link', id: "twitter_sprite" %>
            <%= link_to 'LINKEDIN', linkedin_path, class: 'social_login_link', id: "linkedin_sprite"%>
          </div>
        <% end %>
      </div>

    </div>

    <div ui-view />
</div>

</body>
</html>
